@font-face { /*Importar fuente externa*/
    font-family: 'FantasmAndSecret'; /*Nombre interno de la fuente*/
    src: url('Fantasm and Secrets.ttf') format('truetype'); /*Ruta donde esta guardado el archivo y especifica el formato*/
    font-weight: normal; /*Usara grosol normal*/
    font-style: normal; /*Fuente versión estandar*/
}

* {
    margin: 0; /*Elimina espacio exterior (Margen)*/
    padding: 0; /*Elimina espacio interior*/
    box-sizing: border-box; /*Ancho y largo de un elemento incluya bordes y relleno*/
}

body {
    font-family: 'Montserrat', sans-serif; /*Aplicamos la fuente*/
    font-weight: 700; /*Grosor de fuente negrita*/
    background-color: #F2F4F3; /*Color de fondo*/
    color: #49111C; /*Color del texto*/
    line-height: 1.2; /*Altura entre lineas*/
    -webkit-font-smoothing: antialiased; /*Para que las fuentes se vean mas nitidas y suaves*/
    letter-spacing: -0.02em; /*Espacio entre letras*/
}

/*------------- PORTADA ---------------*/

/* --- MENÚ FLOTANTE  --- */
.floating-nav {
    position: absolute; /*Fija el menu en una posicion especifica*/
    top: 30px; /*Separacion del borde superior*/
    left: 50%; /*Desplaza el borde izquierdo hasta la mitad de la pantalla*/
    transform: translateX(-50%); /*Para que quede centrado*/
    z-index: 1000; /*Para que este por encima de cualquier otro elemento*/
}

.nav-container {
    display: flex; /*Alinea los elementos horizontalmente*/
    background-color: #F2F4F3; /*Color de fonfo*/
    backdrop-filter: blur(12px); /*Efecto que desenfoca lo que hay detras del menu*/
    padding: 6px 10px; /*Espacio interno arriba, abajo y por los lados*/
    border-radius: 50px; /*Redondea los bordes*/
    border: 1px solid #4A0E0E; /*Añade un borde fino con ese color*/
    box-shadow: 0 1px 10px #49111C; /*Proyecta una sombra suave de ese color*/
    list-style: none; /*Elimina puntos o viñetas*/
}

.nav-item {
    padding: 10px 18px; /*Espacio interno arriba, abajo y por los lados*/
    border-radius: 40px; /*Redondea los bordes*/
}

.nav-item a {
    text-decoration: none; /*Quita la decoración*/
    color: #4A0E0E; /*Le da ese color*/
    font-size: 14px; /*Tamaño*/
    font-weight: 500; /*Tamaño*/
    transition: 0.3s; /*Añade animación*/
}

.nav-item:hover{
    color: #4A0E0E; /*Le da ese color*/
    transform: translateY(-2px); /*Desplaza el elemento 2px hacia arriba*/
}

.nav-item.active { 
    background-color:  #49111C; /*Aplica ese color de fondo*/
}
.nav-item.active a { 
    color: #F2F4F3; /*Color que aplicamos*/
    background-color: #49111C; /*Color de fondo*/
}

.hero {
    height: 100vh; /*Altura que ocupa*/
    display: flex; /*Alinea los elementos horizontalmente*/
    align-items: center; /*Alinea en el centro los items*/
    justify-content: center; /*Alinea el contenido en el centro*/
    text-align: center; /*Alinea en el centro el texto*/
    padding: 0 20px; /*Espacio interno arriba, abajo y por los lados*/
}

.hero-text .category {
    text-transform: uppercase; /*Convierte el texto en mayusculas*/
    letter-spacing: 3px; /*Espacio entre letras*/
    font-size: 12px; /*Tamaño*/
    color: #49111C; /*Color que aplicamos*/
    margin-bottom: 20px; /*Margen externo por debajo*/
    display: block; /*Ocupe su propia linea*/
}

.hero-text h1 {
    font-family: 'FantasmAndSecret', sans-serif; /*Aplicamos la fuente*/
    font-size: clamp(3rem, 10vw, 7rem); /*Aplicamos tamaño dinamico (min, max y escala ancho)*/
    min-height: 1.2em; /*Reservamos espacio vertical*/
    color: #49111C; /*Color que aplicamos*/
    display: inline-block; /*Elemento se comporte como bloque*/
    position: relative; /*Establece punto de referencia*/
}

.hero-text p {
    font-size: 1.1rem; /*Tamaño*/
    color: #49111C; /*Color que aplicamos*/
    max-width: 450px; /*Limita el ancho*/
    margin: 0 auto; /*Centra el bloque horizontalmente*/
    justify-content: center; /*Alinea el contenido en el centro*/
    text-align: center; /*Alinea el texto en el centro*/
}

.hero-text h1::after {
    content: ""; /*Muestra el elemento aunque este vacio*/
    position: absolute; /*Posiciona libremente respecto a h1*/
    width: 0.12em; /*Ancho del punto*/
    height: 0.12em; /*Altura del punto*/
    background-color: #49111C; /*Color de fondo*/
    border-radius: 50%; /*Redondea los bordes*/
    right: -0.2em; /*Separa hacia la derecha*/
    top: 20%; /*Separacion por arriba*/
    opacity: 0; /*Lo hace invisible por defecto*/
}

.hero-text h1.show-dot::after {
    opacity: 1; /*Hace que el punto se vuelva visible*/
}

/* --- DOCK SOCIAL INFERIOR --- */
.social-dock {
    position: fixed; /*Lo deja anclado en la pantalla*/
    bottom: 30px; /*Separacion por debajo*/
    left: 50%; /*Separación por la izquierda*/
    transform: translateX(-50%); /*Centrarlo perfectamente*/
    z-index: 9999; /* Un número muy alto para que nada le pase por encima */
    pointer-events: auto; /* Asegura que los clics funcionen siempre */
}

.social-container {
    display: flex; /*Alinea los elementos horizontalmente*/
    gap: 20px; /*Separa los iconos entre si*/
    background-color: #F2F4F3; /*Color de fondo*/
    backdrop-filter: blur(10px); /*Desenfoca ligeramente lo que hay detras*/
    padding: 12px 25px; /*Espacio interno arriba, abajo y por los lados*/
    border-radius: 50px; /*Redondea los bordes*/
    border: 1px solid #49111C; /*Añade un borde fino con ese color*/
    box-shadow: 0 1px 10px #49111C; /*Proyecta una sombra suave de ese color*/
}

.social-icon {
    text-decoration: none; /*Quita el subrayado por defecto*/
    font-size: 12px; /*Tamaño*/
    font-weight: 600; /*Grosor de fuente negrita*/
    color: #49111C; /*Color que aplicamos*/
    text-transform: uppercase; /*Convierte el texto en mayusculas*/
    transition: 0.3s; /*Transicion de suavizado del raton*/
}

.social-icon:hover {
    color: #49111C; /*Color que aplicamos*/
    transform: translateY(-2px); /*Salta 2px hacia arriba*/
}

/*---------------- FIN PORTADA ----------------------*/

/*---------------- CONTENEDOR SOBRE MI ---------------*/

.container-about {
    position: relative; /*Establece punto de referencia*/
    display: flex; /*Alinea los elementos horizontalmente*/
    align-items: center; /*Alinea en el centro los items*/
    justify-content: center; /*Alinea el contenido en el centro*/
    width: 100%; /*Ocupa todo el ancho*/
    min-height: 100vh; /*Altura minima de la sección*/
    padding: 30px 0; /*Espacio interno arriba, abajo y por los lados*/
    background-image: url(fondo.png); /*Carga la imagen como fondo*/
    background-size: cover; /*Para que cubra todo el espacio sin deformarse*/
    background-position: center; /*Centra la imagen de fondo*/
    background-repeat: no-repeat; /*No se repita el fondo*/
    overflow: hidden; /*Corta cualquier contenido que se salga*/
}

.text-side {
    flex: 1; /* El texto ocupa menos que la foto */
    padding: 0 5% 0 8%; /*Espacio interno arriba, abajo, derecha y izquierda*/
    display: flex; /*Alinea los elementos horizontalmente*/
    flex-direction: column; /*Apila los elementos*/
    gap: 15px; /*Espacio entre cada elemento*/
}

.tittle h1 {
    font-family: 'Montserrat', sans-serif; /*Aplicamos la fuente*/
    font-style: italic; /*Fuente en cursiva*/
    font-size: 3rem; /*Tamaño*/
    color:#F5F5DC; /*Color que aplicamos*/
    margin: 0; /*Elimina espacio exterior (Margen)*/
    overflow: hidden; /*Corta cualquier contenido que se salga*/
    white-space: nowrap; /*Evita que salte a una segunda linea*/
    width: 0; /*Para que empiece con ancho cero*/
}

.animar-escritura {
    animation: /*LLama a dos animaciones*/
    escribiendo 2s steps(30) forwards, /*Ejecuta la animación de escritura*/
    parpadeoCursor 0.8s step-end infinite; /*Hace el borde invisible*/
}

@keyframes escribiendo {
    from { width: 0; }
    to { width: 100%; }
}

@keyframes parpadeoCursor {
    50% { border-color: transparent; }
}

.content p {
    font-size: 1.15rem; /*Tamaño*/
    line-height: 1.8; /*Separacion de lineas*/
    color: #F2F4F3; /*Color que aplicamos*/
    margin-bottom: 20px; /*Distancia del margen por abajo*/
}

#firma {
    font-family: 'FantasmAndSecret', sans-serif; /*Aplicamos la fuente*/
    font-size: 2rem; /*Tamaño*/
    color: #F2F4F3; /*Color que aplicamos*/
    position: relative; /*Establece punto de referencia*/
    display: inline-block; /*Elemento se comporte como bloque*/
    line-height: 1; /*Separacion de lineas*/
}

#firma::after {
    content: ""; /*Muestra el elemento aunque este vacio*/
    position: absolute; /*Posiciona libremente respecto a h1*/
    top: 0.3rem; /*Distancia por arriba*/
    right: -10px; /*Distancia por derecha*/
    
    width: 5px; /*Ancho*/
    height: 5px; /*Altura*/
    background-color: #F2F4F3; /*Color de fondo*/
    border-radius: 50%; /*Redondea los bordes*/
}

.destacado{
    font-style: italic; /*Fuente en cursiva*/
    font-weight: lighter; /*Fuente sea mas fina*/
}

.image {
    flex: 1.4; /*Ocupacion del contenedor*/
    display: flex; /*Alinea los elementos horizontalmente*/
    justify-content: center; /*Contenido justificado en el centro*/
    align-items: center; /*Items alineados en el centro*/
}

.image img {
    width: 100%; /* Que use casi todo el ancho de su columna */
    max-width: 1000px; /* Tamaño máximo bastante amplio */
    height: auto; /* FUNDAMENTAL para que se vea entera y sin cortes */
    object-fit: contain; /*Asegurar que la imagen se vea entera*/
    display: block; /*Ocupe su propia linea*/
}

/*--------------- Fin Sobre mi ------------*/

/*--------------- PORTFOLIO ---------------*/

.portfolio h1{
    padding-top: 8%;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-size: 3.5rem;
    display: flex;
    justify-content: center;
    padding-bottom: 2%;
}

.portfolio p {
    justify-content: center;
    display: flex;
    color: black;
}

#flecha{
    padding-top: 3%;
    font-size: 25px;
    color: #49111C;
    animation: botar 2s infinite;
}

@keyframes botar {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0); /* Posición original */
    }
    40% {
        transform: translateY(-20px); /* Salto hacia arriba */
    }
    60% {
        transform: translateY(-10px); /* Segundo salto más pequeño */
    }
}

.cueva {
    width: 100%;
    padding-top: 3%;
    padding-bottom: 5%;
    text-align: center;
}

.cueva .logo {
    display: block;    /* Permite usar márgenes automáticos */
    margin: 0 auto;    /* Centra horizontalmente */
    width: 200px;      /* Ajusta el tamaño según necesites */
    height: auto;
    padding-bottom: 5%;
}

.in-cueva {
    display: grid;
    /* Creamos 3 columnas que se reparten el 100% del ancho */
    grid-template-columns: repeat(3, 1fr);
    /* Gap 0 para que las imágenes estén totalmente pegadas */
    gap: 0; 
    width: 100vw;
}

/* 3. Estilo de las imágenes */
.in-cueva img {
    width: 100%;
    /* Altura proporcional: 1/3 del ancho de la pantalla para que sean cuadradas */
    height: 33vw; 
    object-fit: cover; /* Evita que las fotos de comida se deformen */
    display: block;
}

/* 4. La imagen con clase "ancho" (la panorámica de arriba) */
.in-cueva img.ancho {
    grid-column: span 3; /* Ocupa las 3 columnas */
    height: 40vw;       /* Un poco más alta para destacar el plato principal */
}

.zurita {
    width: 100%;
    padding-bottom: 1%;
    text-align: center;
}

.zurita .logo {
    display: block;    /* Permite usar márgenes automáticos */
    margin: 0 auto;    /* Centra horizontalmente */
    width: 300px;      /* Ajusta el tamaño según necesites */
    height: auto;
    padding-bottom: 1%;
}

.in-zurita {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0; 
    width: 100vw;
}

.in-zurita img {
    width: 100%;
    height: 33vw; 
    object-fit: cover;
    display: block;
}

.carlos-ferreiro {
    width: 100%;
    padding-bottom: 1%;
    text-align: center;
}

.carlos-ferreiro .logo {
    display: block;    /* Permite usar márgenes automáticos */
    margin: 0 auto;    /* Centra horizontalmente */
    width: 300px;      /* Ajusta el tamaño según necesites */
    height: auto;
    padding-bottom: 1%;
}

.in-carlos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0; 
    width: 100vw;
}

.in-carlos img {
    width: 100%;
    height: 33vw; 
    object-fit: cover;
    display: block;
}

.in-carlos2 img{
    height: 16.5vw;
}

#pruebas{
    padding-top: 300px;
}

