@font-face {
    font-family: 'FantasmAndSecret';
    src: url('Fantasm and Secrets.ttf') format('truetype'); 
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    background-color: #F2F4F3;
    color: #49111C;
    line-height: 1.2;
    -webkit-font-smoothing: antialiased;
    letter-spacing: -0.02em;
}

/*------------- PORTADA ---------------*/

/* --- MENÚ FLOTANTE  --- */
.floating-nav {
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
}

.nav-container {
    display: flex;
    background-color: #F2F4F3;
    backdrop-filter: blur(12px);
    padding: 6px 10px;
    border-radius: 50px;
    border: 1px solid #4A0E0E;
    box-shadow: 0 1px 10px #49111C;
    list-style: none;
}

.nav-item {
    padding: 10px 18px;
    border-radius: 40px;
}

.nav-item a {
    text-decoration: none;
    color: #4A0E0E;
    font-size: 14px;
    font-weight: 500;
    transition: 0.3s;
}

.nav-item:hover{
    color: #4A0E0E;
    transform: translateY(-2px);
}

.nav-item.active { 
    background-color:  #49111C; 
}
.nav-item.active a { 
    color: #F2F4F3;
    background-color: #49111C; 
}

.hero {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 20px;
}

.hero-text .category {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 12px;
    color: #49111C;
    margin-bottom: 20px;
    display: block;
}

.hero-text h1 {
    font-family: 'FantasmAndSecret', sans-serif;
    font-size: clamp(3rem, 10vw, 7rem);
    min-height: 1.2em;
    color: #49111C;
    display: inline-block;
    animation: blink 0.7s infinite;
    position: relative;
}

.hero-text p {
    font-size: 1.1rem;
    color: #49111C;
    max-width: 450px;
    margin: 0 auto;
    justify-content: center;
    text-align: center;
}

.hero-text h1::after {
    content: ""; 
    position: absolute;
    width: 0.12em;
    height: 0.12em;
    background-color: #49111C;
    border-radius: 50%;
    right: -0.2em;
    top: 20%;
    opacity: 0;
}

.hero-text h1.show-dot::after {
    opacity: 1;
}

/* --- DOCK SOCIAL INFERIOR --- */
.social-dock {
    position: fixed;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999; /* Un número muy alto para que nada le pase por encima */
    pointer-events: auto; /* Asegura que los clics funcionen siempre */
}

.social-container {
    display: flex;
    gap: 20px;
    background-color: #F2F4F3;
    backdrop-filter: blur(10px);
    padding: 12px 25px;
    border-radius: 50px;
    border: 1px solid #49111C;
    box-shadow: 0 1px 10px #49111C;
}

.social-icon {
    text-decoration: none;
    font-size: 12px;
    font-weight: 600;
    color: #49111C;
    text-transform: uppercase;
    transition: 0.3s;
}

.social-icon:hover {
    color: #49111C;
    transform: translateY(-2px);
}

/*---------------- FIN PORTADA ----------------------*/

/*---------------- CONTENEDOR SOBRE MI ---------------*/

.container-about {
    position: relative; /* OBLIGATORIO para que los logos se queden dentro */
    display: flex;
    align-items: center; 
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    padding: 30px 0;
    /*background-color: #49111C;*/
    background-image: url(fondo.png);
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}

.text-side {
    flex: 1; /* El texto ocupa menos que la foto */
    padding: 0 5% 0 8%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.tittle h1 {
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-size: 3.5rem;
    color:#F5F5DC;
    margin: 0;
    /*text-shadow: 0 1px 10px #F5F5DC;*/
    overflow: hidden; 
    white-space: nowrap;
    width: 0;
}

.animar-escritura {
    animation: 
        escribiendo 2s steps(30) forwards,
        parpadeoCursor 0.8s step-end infinite;
}

@keyframes escribiendo {
    from { width: 0; }
    to { width: 100%; }
}

@keyframes parpadeoCursor {
    50% { border-color: transparent; }
}

.content p {
    font-size: 1.15rem;
    line-height: 1.8;
    color: #F2F4F3;
    margin-bottom: 20px;
}

#firma {
    font-family: 'FantasmAndSecret', sans-serif;
    font-size: 2rem;
    color: #F2F4F3;
    position: relative;
    display: inline-block;
    line-height: 1;
}

#firma::after {
    content: "";
    position: absolute;
    top: 0.3rem;
    right: -10px;
    
    width: 5px;
    height: 5px;
    background-color: #F2F4F3;
    border-radius: 50%;
}

.destacado{
    font-style: italic;
    font-weight: lighter;
}

.image {
    flex: 1.4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image img {
    width: 100%; /* Que use casi todo el ancho de su columna */
    max-width: 1000px; /* Tamaño máximo bastante amplio */
    height: auto; /* FUNDAMENTAL para que se vea entera y sin cortes */
    object-fit: contain; 
    display: block;
}

/*--------------- Fin Sobre mi ------------*/

/*--------------- PORTFOLIO ---------------*/

.portfolio h1{
    padding-top: 8%;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-size: 3.5rem;
    display: flex;
    justify-content: center;
    padding-bottom: 2%;
}

.portfolio p {
    justify-content: center;
    display: flex;
    color: black;
}

#flecha{
    padding-top: 3%;
    font-size: 25px;
    color: #49111C;
    animation: botar 2s infinite;
}

@keyframes botar {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0); /* Posición original */
    }
    40% {
        transform: translateY(-20px); /* Salto hacia arriba */
    }
    60% {
        transform: translateY(-10px); /* Segundo salto más pequeño */
    }
}

.cueva {
    width: 100%;
    padding-top: 3%;
    padding-bottom: 5%;
    text-align: center;
}

.cueva .logo {
    display: block;    /* Permite usar márgenes automáticos */
    margin: 0 auto;    /* Centra horizontalmente */
    width: 200px;      /* Ajusta el tamaño según necesites */
    height: auto;
    padding-bottom: 5%;
}

.in-cueva {
    display: grid;
    /* Creamos 3 columnas que se reparten el 100% del ancho */
    grid-template-columns: repeat(3, 1fr);
    /* Gap 0 para que las imágenes estén totalmente pegadas */
    gap: 0; 
    width: 100vw;
}

/* 3. Estilo de las imágenes */
.in-cueva img {
    width: 100%;
    /* Altura proporcional: 1/3 del ancho de la pantalla para que sean cuadradas */
    height: 33.33vw; 
    object-fit: cover; /* Evita que las fotos de comida se deformen */
    display: block;
}

/* 4. La imagen con clase "ancho" (la panorámica de arriba) */
.in-cueva img.ancho {
    grid-column: span 3; /* Ocupa las 3 columnas */
    height: 40vw;       /* Un poco más alta para destacar el plato principal */
}

#pruebas{
    padding-top: 300px;
}

